@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Inter', sans-serif;
}

*:focus {
    outline: none;
}

#search {
}
fieldset {
    border: none;
}

#fieldset-search {
    display: flex;
}
#scaling-inprocess-message{
    font-weight: bold;
    font-style: italic;
    display: none;
}
#submit {
    border-radius: 0px 8px 8px 0px;
    padding: 5px 10px 5px 10px;
}

#results img {
    border-radius: 5px;
}
#fieldset-config {
    line-height:2em;
}
input[type="number"] {
    width: 60px;
}
#seed {
    width: 150px;
}
hr {
   width: 200px;
}
label {
    white-space: nowrap;
}
#progress-section {
    display: none;
    display: block;
}
#progress-image {
    /* display: none; */
    border-radius: 5px;
}

#submit {
    background-color: #275EFE;
    border: 2px solid #17181c;
    color: #f4f5f7;
}

.danger-button {
    border-radius: 36px;

    background-color: #fe4027;
    border: 2px solid #17181c;
    color: #f4f5f7;

    padding: 5px 10px 5px 10px;
}

html, body {
    height: 100%;
    width: 100%;

    overflow-x: hidden;
}

html, body {
    background-color: #111216;
}

html, body {
    color: #9fa0a5
}

.number-input, .select-input {
    border: 2px solid #17181c;
}

.number-input {
    background-color: #17181c;
    border-radius: 8px;
    padding: 8px;
    color: #9fa0a5;
}

.number-input:focus, .number-input:active {
    border: 2px solid #275EFE;
    color: #f4f5f7;
}

.select-input {
    background-color: #17181c;
    border-radius: 8px;
    padding: 8px;
    color: #9fa0a5;
}

.select-input:focus, .select-input:active {
    border: 2px solid #275EFE;
    color: #f4f5f7;
}

.prompting-text-input {
    flex-grow: 1;

    border-radius: 8px 0px 0px 8px;
    padding: 5px 10px 5px 10px;
    border-right: none;
    outline: none;

    background-color: #17181c;
    color: #9fa0a5;
    border: 2px solid #17181c;
    min-height: 36px;

    resize: vertical;
}

.prompting-text-input:active, .prompting-text-input:focus {
    border: 2px solid #275EFE;
    color: #f4f5f7;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

#prompt {
    font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace !important;
}

#txt2img {
    border-radius: 20px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    margin: 0;
    background-color: #111216;
    border-radius: 8px;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
    
    outline: 0;
    border: 0;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 70ms transform ease-in-out;
    box-shadow: inset 1em 1em #275EFE;
    border-radius: 2px;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.options {
    display: flex;
    flex-direction: column;

    background-color: #222329;
    border-radius: 1rem;
    padding: 1rem;

    margin-bottom: 64px;
}

.main {
    display: flex;
    flex-direction: column;

    width: calc(100% - 40px);
    max-width: 726px;
    flex-shrink: 1;
    margin: 0 20px 20px 20px;
}

.layout {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
}
/* 
.text-to-image-form {
    padding: 20px;
} */

.header {
    font-size: 24px;
}

.section-header {
    color: #f4f5f7;
}

.config-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    /* transition: 70ms ease-in-out;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; */
}

.input-label {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #9fa0a5;
    transition: 70ms ease-in-out;
}

/* .config-row:hover {
    background-color: #111216;
    transition: 70ms ease-in-out;
} */

.config-row:hover > .input-label {
    color: #f4f5f7;
    transition: 70ms ease-in-out;
}

.icon-button {
    background-color: #275EFE;
    border: 2px solid #17181c;
    color: #f4f5f7;
}

.reset-seed-button {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 32px;
}

.section-header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    gap: 8px;
}

.progress-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar {

}

.results-section {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,#111216 15px,transparent 1%) 50%,linear-gradient(#111216 15px,transparent 1%) 50%,hsla(0,0%,100%,.32);
    background-size: auto, auto, auto;
    display: flex;
    align-content: baseline;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-size: 16px 16px;
}

.results-display {
    display: grid;
    grid-template-columns: repeat(var(--results-display-column-amount), 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 150px;
}

.results-display > .img-wrapper > .img-gen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* .results-display > div {
    width: 100% !important;
    height: auto !important;
} */

.img-wrapper {
    padding: 0.46em;
}

img.img-gen {
    width: 181px;
}

.progress-row {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.progress-cancel {
    border-radius: 36px;

    background-color: #fe4027;
    border: 2px solid #17181c;
    color: #f4f5f7;

    padding: 5px 10px 5px 10px;
    cursor: default;
    user-select: none;
}

.prompting-input {
    background-color: #222329;
    padding: 1rem;
    border-radius: 1rem;

    z-index: 9998;
}

.text-to-image-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media only screen and (max-width: 1200px) {
    .layout {
      flex-direction: column !important;
      align-items: center;
    }
}

.initialImg {
    width: 100px;
    height: auto;

    border-radius: 5px;
}

.file-selector::file-selector-button {
    background-color: #275EFE;
    border-radius: 36px;
    color: #f4f5f7;
    outline: 0;
    border: 0;
    padding: 5px 10px 5px 10px;
}

.awesome-control-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #111216;
    height: 36px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9999;
    border-top: 2px solid #27282e;
}

.control-button, .control-button > svg {
    width: 2rem;
    height: 2rem;
    fill: #9fa0a5;
    stroke: #9fa0a5;
}

.control-button {
    padding: 1rem;
}

.control-button:hover {
    background-color: #222329;
}

.slider-control {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
}

.logos {
    height: 4rem;
    display: flex;
}

.logos > svg {
    height: 4rem;
    width: 8rem;
}

.top-bar {
    display: flex;
    align-items: center;
}