<html lang="en">
  <head>
    <title>Stable Diffusion Dream Server</title>
    <meta charset="utf-8">
    <link rel="icon" href="data:,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/dream_web/index.css">
    <script src="config.js"></script>
    <!-- <script src="static/dream_web/index.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" class="layout">
      <main class="main" id="search">
        <div class="top-bar">
          <div class="logos">
            <svg width="376" height="140" viewBox="0 0 376 140" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M50 63.7198V43.3086H97.324V63.7198H63.8028V75.888L50 63.7198Z" fill="white"/>
              <path d="M85.4931 64.8975H64.9861V112H85.4931L97.7185 98.2619H85.4931V64.8975Z" fill="white"/>
              <path d="M98.5069 42.1308H86.2815L98.9012 28H119.014V75.4952H98.5069V42.1308Z" fill="white"/>
              <path d="M134 76.6726L120.197 64.5044V76.6726H86.676V96.6912H134V76.6726Z" fill="white"/>
              <path d="M182 46V94" stroke="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M239 57.5034V102.25H317V57.5034H305.885V46L283.655 46.1828V57.5034H272.345V46.1828L250.115 46.3657V57.5034H239ZM250.213 67.4153H272.637V78.824H250.213V67.4153ZM306.469 67.4153H284.045V78.824H306.469V67.4153Z" fill="white"/>
              </svg>
          </div>
          <div class="header-wrapper">
            <h2 class="header" id="header">Stable Diffusion Dream Server</h2>
            <div class="subheader" id="">by Fero and Robo @ robolab.io</div>
          </div>
          
        </div>
        
        <!-- <div style="padding: 1rem;"></div> -->

        <form id="generate-form" method="post" action="#">
        <div class="text-to-image-form" id="txt2img">

                <fieldset class="prompting-input" id="fieldset-search">
                  <textarea class="prompting-text-input" type="text" v-model="prompt" id="prompt" name="prompt"></textarea>
                  <button class="button generate-button" type="submit" id="submit" value="Generate" @click="generateSubmit">Generate</button>
                </fieldset>

                <fieldset class="options" id="fieldset-config">

                  <div class="section-header">
                    Text to Image Options 
                    <div class="config-row">
                      <button class="button danger-button" type="button" id="reset-all">Reset</button>
                    </div>
                  </div>

                  <div class="config-row">
                    <div class="select-pill">
                    <label class="input-label pill-label" for="iterations">Images to Generate</label>
                    <input class="number-input" v-model="images" type="number" id="iterations" name="iterations">
                    </div>

                    <div class="select-pill">
                    <label class="input-label pill-label" for="steps">Steps</label>
                    <input class="number-input" v-model="steps" type="number" id="steps" name="steps">
                    </div>

                    <div class="select-pill">
                    <label class="input-label pill-label" for="cfgscale">CFG/Guidance Scale</label>
                    <input class="number-input" v-model="cfgscale" type="number" id="cfgscale" name="cfgscale" step="any">
                    </div>
                  </div>


                  <div class="config-row">
                    <div class="select-pill">
                      <label class="input-label pill-label" for="sampler">Sampler</label>
                      <select class="select-input" id="sampler" name="sampler" v-model="sampler">
                        <option value="ddim">DDIM</option>
                        <option value="plms">PLMS</option>
                        <option value="k_lms">KLMS (Default)</option>
                        <option value="k_dpm_2">KDPM_2</option>
                        <option value="k_dpm_2_a">KDPM_2A</option>
                        <option value="k_euler">KEULER</option>
                        <option value="k_euler_a">KEULER_A</option>
                        <option value="k_heun">KHEUN</option>
                      </select>
                    </div>
                  </div>


                  <div class="config-row">
                    <div class="select-pill">
                      <label class="input-label pill-label" title="Set to multiple of 64" for="width">Width</label>
                      <select class="select-input" id="width" name="width" v-model="width">
                        <option value="64">64</option> <option value="128">128</option>
                        <option value="192">192</option> <option value="256">256</option>
                        <option value="320">320</option> <option value="384">384</option>
                        <option value="448">448</option> <option value="512" selected>512</option>
                        <option value="576">576</option> <option value="640">640</option>
                        <option value="704">704</option> <option value="768">768</option>
                        <option value="832">832</option> <option value="896">896</option>
                        <option value="960">960</option> <option value="1024">1024</option>
                      </select>
                    </div>

                    <div class="select-pill">
                      <label class="input-label pill-label" title="Set to multiple of 64" for="height">Height</label>
                      <select class="select-input" id="height" name="height" v-model="height">
                        <option value="64">64</option> <option value="128">128</option>
                        <option value="192">192</option> <option value="256">256</option>
                        <option value="320">320</option> <option value="384">384</option>
                        <option value="448">448</option> <option value="512" selected>512</option>
                        <option value="576">576</option> <option value="640">640</option>
                        <option value="704">704</option> <option value="768">768</option>
                        <option value="832">832</option> <option value="896">896</option>
                        <option value="960">960</option> <option value="1024">1024</option>
                      </select>
                    </div>
                  </div>
                  

                  <div class="config-row">
                    <div style="flex-direction: column; width: 100%;" class="select-pill">
                    <label style="display: flex; flex-direction: row" class="input-label pill-label" title="Set to -1 for random seed" for="seed">Seed                     <button style="margin-left: auto !important; width: 36px;" class="button primary-button" type="button" id="reset-seed">&olarr;</button> </label>
                    <input style="width: 100%;" class="number-input" v-model="seed" type="number" id="seed" name="seed">
                    </div>
                  </div>

                  <div class="config-row">
                    <label class="input-label" for="progress_images">Display in-progress images</label>
                    <input type="checkbox" v-model="displayInProgress" name="progress_images" id="progress_images">
                  </div>

                  <div style="padding: 1rem;"></div>

                  <div class="section-header">Image to Image Options</div>
      
                  <div class="img2img-options" id="img2img">
                  
                  <div class="config-row">
                    <label class="input-label" title="Upload an image to use img2img" for="initimg">Initial Image</label>
                    <input class="file-selector" type="file" @change="handleFileChange($event, index)" id="initimg" name="initimg" accept=".jpg, .jpeg, .png">
                  </div>
                  <img class="initialImg" :src="initialImgUrl"/>

                  <div class="config-row">
                    <div class="select-pill">
                    <label class="input-label pill-label" for="strength">Image To Image Strength</label>
                    <input class="number-input" v-model="img2img_strength" type="number" id="strength" name="strength" step="0.01" min="0" max="1">
                    </div>
                  </div>

                  <div class="config-row">
                    <label class="input-label" title="Rescale image to fit within requested width and height" for="fit">Fit Image Dimensions</label>
                    <input type="checkbox" id="fit" name="fit" v-model="img2img_fitdimension">
                  </div>

                  <div style="padding: 1rem;"></div>

                  <div class="section-header">Upscaling Options</div>

                  <div class="upscaling-options" id="gfpgan">

                    <div class="config-row">
                      <div class="select-pill">
                      <label class="input-label pill-label" title="Strength of the gfpgan (face fixing) algorithm." for="gfpgan_strength">GPFGAN Strength (0 to disable)</label>
                      <input class="number-input" value="0.8" min="0" max="1" type="number" id="gfpgan_strength" name="gfpgan_strength" step="0.05">
                      </div>
                    </div>

                    <div class="config-row">
                      <div class="select-pill">
                      <label class="input-label pill-label" title="Upscaling to perform using ESRGAN." for="upscale_level">Upscaling Level</label>
                      <select class="select-input" id="upscale_level" name="upscale_level" value="">
                        <option value="" selected>None</option>
                        <option value="2">2x</option>
                        <option value="4">4x</option>
                      </select>
                      </div>

                      <div class="select-pill">
                      <label class="input-label pill-label" title="Strength of the esrgan (upscaling) algorithm." for="upscale_strength">Upscale Strength</label>
                      <input class="number-input" value="0.75" min="0" max="1" type="number" id="upscale_strength" name="upscale_strength" step="0.05">
                      </div>
                    </div>

                  </div>

                </div>
              </div>
          </fieldset>
        </form>
  
        <div class="progress-section" id="progress-section">

          <div class="progress-row">
            <div class="">{{progress/steps}}</div>
            <span class="button danger-button" id="cancel-button" title="Cancel">Cancel</span>
          </div>
          
          <img id="progress-image" :src="progressImageSrc"></img>
          <div id="scaling-inprocess-message">
            <i><span>Postprocessing...</span><span id="processing_cnt">1/3</span></i>
          </div>
        </div>
  
      </main>

      <div id="panzoom-element-whole" class="results-section" id="results">
          <!-- <div id="panzoom-element" class="results-display" style="--results-display-column-amount: 2;"> -->
            <div id="" class="img-wrapper" v-for="x in results">
              <img class="img-gen" :src="x.src" />
            </div>
          </div>

          <div class="awesome-control-panel">
            <div id="zoomInButton" class="control-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="" viewBox="0 0 256 256"><rect width="256" height="256" stroke="none" fill="none"></rect><line x1="84" y1="116" x2="148" y2="116" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line><line x1="116" y1="84" x2="116" y2="148" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line><circle cx="116" cy="116" r="84" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></circle><line x1="175.4" y1="175.4" x2="224" y2="224" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line></svg>
            </div>
  
            <div id="zoomOutButton" class="control-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="" viewBox="0 0 256 256"><rect width="256" height="256" stroke="none" fill="none"></rect><line x1="84" y1="116" x2="148" y2="116" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line><circle cx="116" cy="116" r="84" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></circle><line x1="175.4" y1="175.4" x2="224" y2="224" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line></svg>
            </div>

            <div id="resetZoomButton" class="control-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" stroke="none" fill="none"></rect><line x1="128" y1="80" x2="128" y2="128" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line><line x1="169.6" y1="152" x2="128" y2="128" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line><polyline points="184.2 99.7 224.2 99.7 224.2 59.7" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></polyline><path d="M190.2,190.2a88,88,0,1,1,0-124.4l34,33.9" fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></path></svg>
            </div>

            <div class="slider-control">
              <label class="input-label" title="How many columns to display in the canvas" for="columnInput">Columns</label>
              <input id="columnInput" class="range-input" type="range" min="2" max="5" step="1" value="1">
            </div>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>

<script>
  function toBase64(file) {
    return new Promise((resolve, reject) => {
        const r = new FileReader();
        r.readAsDataURL(file);
        r.onload = () => resolve(r.result);
        r.onerror = (error) => reject(error);
    });
  }

  var app = new Vue({
  el: '#app',
    data: {
      prompt: "",
      images: 5,
      steps: 50,
      cfgscale: 7,
      sampler: 'k_lms',
      width: 512,
      height: 512,
      seed: -1,
      displayInProgress: false,
      img2img_initial: { name: '' },
      img2img_strength: 0.75,
      img2img_fitdimension: true,
      progressImageSrc: '',
      initialImgUrl: '',

      gfpgan_strength: 0.8,
      upscale_level: "",
      upscale_strength: 0.75,

      progress:0,
      results: []
    },

    methods: {
      appendOutput(src, seed, config) {
        this.results.unshift({src,seed,config})
      },
      handleFileChange(evt, index) {
        const file = evt.target.files[0];
        this.initialImgUrl = URL.createObjectURL(file);
        this.img2img_initial = file;
        console.log(evt);
      },
      async generateSubmit(e) {
        e.preventDefault();
        const prompt = this.prompt;

        // Convert file data to base64
        

        let formy = {
          prompt: this.prompt,
          iterations: this.images,
          steps: this.steps,
          cfgscale: this.cfgscale,
          sampler: this.sampler,
          width: this.width,
          height: this.height,
          seed: this.seed,
          progress_images: this.displayInProgress,

          strength: this.img2img_strength,
          fit: this.img2img_fitdimension,
          initimg: this.img2img_initial,

          gfpgan_strength: this.gfpgan_strength,
          upscale_level: this.upscale_level,
          upscale_strength: this.upscale_strength

        }

        // let formData = Object.fromEntries(new FormData(formy));
        
        formy.initimg = formy.initimg.name !== '' ? await toBase64(formy.initimg) : null;

        let strength = formy.strength;
        let totalSteps = formy.initimg ? Math.floor(strength * formy.steps) : formy.steps;

        this.progress = 0

        // Post as JSON, using Fetch streaming to get results
        fetch('#',{
            method: 'POST',
            body: JSON.stringify(formy),
        }).then(async (response) => {
            const reader = response.body.getReader();

            let noOutputs = true;
            while (true) {
                let {value, done} = await reader.read();
                value = new TextDecoder().decode(value);
                if (done) {
                    // progressSectionEle.style.display = 'none';
                    this.progress = 0;
                    break;
                }

                for (let event of value.split('\n').filter(e => e !== '')) {
                    const data = JSON.parse(event);

                    if (data.event === 'result') {
                        noOutputs = false;
                        this.appendOutput(data.url, data.seed, data.config);
                        this.progress = 0;                      
                    } else if (data.event === 'upscaling-started') {
                        document.getElementById("processing_cnt").textContent=data.processed_file_cnt;
                        // document.getElementById("scaling-inprocess-message").style.display = "block";
                    } else if (data.event === 'upscaling-done') {
                        // document.getElementById("scaling-inprocess-message").style.display = "none";
                    } else if (data.event === 'step') {
                        this.progress = data.step;                      
                        if (data.url) {
                            this.progressImageSrc.src = data.url;
                        }
                    } else if (data.event === 'canceled') {
                        // avoid alerting as if this were an error case
                        noOutputs = false;
                    }
                }
            }

            // Re-enable form, remove no-results-message
            // form.querySelector('fieldset').removeAttribute('disabled');          
            // document.querySelector("#prompt").value = prompt;
            this.progress = 0;
            

            if (noOutputs) {
                alert("Error occurred while generating.");
            }
        });

            // Disable form while generating
            // form.querySelector('fieldset').setAttribute('disabled','');
            // document.querySelector("#prompt").value = `Generating: "${prompt}"`;
        }
    }

  })



  function saveFields(form) {
      for (const [k, v] of new FormData(form)) {
          if (typeof v !== 'object') { // Don't save 'file' type
              localStorage.setItem(k, v);
          }
      }
  }

  function loadFields(form) {
      for (const [k, v] of new FormData(form)) {
          const item = localStorage.getItem(k);
          if (item != null) {
              form.querySelector(`*[name=${k}]`).value = item;
          }
      }
  }

  function clearFields(form) {
      localStorage.clear();
      let prompt = form.prompt.value;
      form.reset();
      form.prompt.value = prompt;
  }

  const BLANK_IMAGE_URL = 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"/>';

  window.onload = () => {
      // document.querySelector("#generate-form").addEventListener('submit', (e) => {
      //     e.preventDefault();
      //     const form = e.target;

      //     generateSubmit(form);
      // });
      // document.querySelector("#generate-form").addEventListener('change', (e) => {
      //     saveFields(e.target.form);
      // });
      // document.querySelector("#reset-seed").addEventListener('click', (e) => {
      //     document.querySelector("#seed").value = -1;
      //     saveFields(e.target.form);
      // });
      // document.querySelector("#reset-all").addEventListener('click', (e) => {
      //     clearFields(e.target.form);
      // });
      // loadFields(document.querySelector("#generate-form"));

      // document.querySelector('#cancel-button').addEventListener('click', () => {
      //     fetch('/cancel').catch(e => {
      //         console.error(e);
      //     });
      // });

      // if (!config.gfpgan_model_exists) {
      //     document.querySelector("#gfpgan").style.display = 'none';
      // }
  };
  

</script>
<!-- 
<script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>

<script>
const elem = document.getElementById('panzoom-element')
const panzoom = Panzoom(elem, {
  maxScale: 5
})
const parent = elem.parentElement
panzoom.pan(100, 100)
panzoom.zoom(1, { animate: true, startScale: 0.5, contain: 'inside'})

zoomInButton.addEventListener('click', panzoom.zoomIn)
zoomOutButton.addEventListener('click', panzoom.zoomOut)
resetZoomButton.addEventListener('click', panzoom.reset)

elem.parentElement.addEventListener('wheel', panzoom.zoomWithWheel)
parent.addEventListener('wheel', function(event) {
  panzoom.zoomWithWheel(event)
})


const resultDisplay = document.getElementById('panzoom-element')

columnInput.addEventListener('input', (event) => {
  resultDisplay.style.setProperty('--results-display-column-amount', event.target.valueAsNumber)
})
</script> -->
