/***     IMPORTS     ***/
/* Primary font */
@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

/***     COLORS     ***/
:root {
    /* Buttons and actions that have the most priority, like the "Generate" button */
    /* Also used as the focus border */
    --primary: #275EFE;
    /* Use for buttons that are secondary actions and have less priority. */
    --secondary: #1f3267;
    /* Destructive actions, like resetting or deleting */
    --danger: #fe4027;

    --text-primary: #f4f5f7;
    --text-secondary: #9fa0a5;

    /* The lowermost layer */
    --bg-primary: #111216;
    /* For any elements that are directly on top of the primary layer */
    /* Can also be used as a hover state for primary-colored buttons */
    --bg-secondary: #222329;
    /* For elements on top of the secondary layer, like text inputs and menus */
    --bg-tertiary: #17181c;

    --focus-active: #275EFE;
}

/***     TRANSITIONS     ***/
:root {
    --transition-primary: 70ms ease-in-out;
}

/***     OTHER     ***/
:root {
    --padding-8: 8px;
    --border-radius-8: 8px;
    --padding-button-primary: 5px 10px 5px 10px;
    --border-radius-button-primary: 36px;

    --border-button-primary: 2px solid var(--bg-secondary);
}

/***     SIZES     ***/
:root {
    --font-size-header: 24px;

    --font-size-primary: 14px;
    --font-size-secondary: 12px;
}

/***     CSS RESET     ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***          STYLING         ***/

/***     PAGE    ***/
* {
    font-family: 'Inter', sans-serif;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;

    color: var(--text-secondary);
    background-color: var(--bg-primary);

    overflow-x: hidden;
}

/***     INPUTS    ***/
input[type="number"] {
    width: 60px;
}

/* Remove up/down button arrows on Webkit/Blink browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* Overrides for Gecko browsers */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

/* Vanilla checkbox overrides for all browsers */
input[type="checkbox"]::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: var(--transition-primary);
    box-shadow: inset 1em 1em var(--focus-active);
    border-radius: 2px;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.number-input, .select-input {
    border-radius: var(--border-radius-8);
    padding: var(--padding-8);
}

.number-input, .select-input, .prompting-text-input {
    color: var(--text-secondary);
    background-color: var(--bg-tertiary);
    border: var(--border-button-primary);
}

.number-input:focus, .number-input:active, 
.prompting-text-input:active, .prompting-text-input:focus,
.select-input:focus, .select-input:active {
    color: var(--text-primary);
    border: 2px solid var(--primary);
}

.button {
    color: var(--text-primary);
    border: var(--border-button-primary);

    border-radius: var(--border-radius-button-primary);
    padding: var(--padding-button-primary);
}

.button.primary-button {
    background-color: var(--primary);
}
.button.danger-button {
    background-color: var(--danger);
}
.button.generate-button {
    background-color: var(--primary);

    border-radius: 0px 8px 8px 0px;
}

.progress-cancel {
    cursor: default;
    user-select: none;
}

.prompting-input {
    display: flex;

    background-color: var(--bg-secondary);

    padding: 1rem;
    border-radius: 1rem;

    z-index: 9998;
}

.prompting-text-input {
    display: flex;
    flex-grow: 1;

    background-color: var(--bg-tertiary);
    color: var(--text-primary);

    border-radius: 8px 0px 0px 8px;
    padding: 5px 10px 5px 10px;
    border-right: none;
    outline: none;
    min-height: 36px;

    font-family: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace !important;
    resize: vertical;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    margin: 0;
    background-color: var(--bg-tertiary);
    border-radius: 8px;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
    
    outline: 0;
    border: 0;
}


/***     LAYOUT    ***/
.main {
    display: flex;
    flex-direction: column;

    width: calc(100% - 40px);
    max-width: 726px;
    flex-shrink: 1;
    margin: 0 20px 20px 20px;
}

.layout {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.options {
    display: flex;
    flex-direction: column;
    line-height: 2rem;

    background-color: var(--bg-secondary);
    border-radius: 1rem;
    padding: 1rem;

    margin-bottom: 64px;
}
/* 
.text-to-image-form {
    padding: 20px;
} */

.header {
    font-size: var(--font-size-header);
}

.section-header {
    color: var(--text-primary);
}

.config-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    /* transition: 70ms ease-in-out;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; */
}

.input-label {
    color: var(--text-secondary);

    text-transform: uppercase;
    font-size: var(--font-size-secondary);
    font-weight: 700;

    transition: var(--transition-primary);
}

/* .config-row:hover {
    background-color: #111216;
    transition: 70ms ease-in-out;
} */

.config-row:hover > .input-label {
    color: var(--text-primary);
    transition: var(--transition-primary);
}

.reset-seed-button {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 32px;
}

.section-header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    gap: 8px;
}

.progress-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-section {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,#111216 15px,transparent 1%) 50%,linear-gradient(#111216 15px,transparent 1%) 50%,hsla(0,0%,100%,.32);
    background-size: auto, auto, auto;
    display: flex;
    align-content: baseline;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-size: 16px 16px;
}

.results-display {
    display: grid;
    grid-template-columns: repeat(var(--results-display-column-amount), 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 150px;
}

.results-display > .img-wrapper > .img-gen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* .results-display > div {
    width: 100% !important;
    height: auto !important;
} */

.img-wrapper {
    padding: 0.46em;
}

img.img-gen {
    width: 181px;
}

.progress-row {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.text-to-image-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media only screen and (max-width: 1200px) {
    .layout {
      flex-direction: column !important;
      align-items: center;
    }
}

.initialImg {
    width: 100px;
    height: auto;

    border-radius: 5px;
}

.file-selector::file-selector-button {
    background-color: var(--primary);
    border-radius: 36px;
    color: var(--text-primary);
    outline: 0;
    border: 0;
    padding: 5px 10px 5px 10px;
}

.awesome-control-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #111216;
    height: 36px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9999;
    border-top: 2px solid #27282e;
}

.control-button, .control-button > svg {
    width: 2rem;
    height: 2rem;
    fill: #9fa0a5;
    stroke: #9fa0a5;
}

.control-button {
    padding: 1rem;
}

.control-button:hover {
    background-color: #222329;
}

.slider-control {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
}

.logos {
    height: 4rem;
    display: flex;
}

.logos > svg {
    height: 4rem;
    width: 8rem;
}

.top-bar {
    display: flex;
    align-items: center;
}